<!DOCTYPE html>
<html>
<body bgcolor="#E6E6FA">
<head>

</head>
<body>

<title>Sinatra Warden</title>

<h1>Slow food tastes better</h1>

<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:blue;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

  <style>
  h1 {
    text-align: center;
}

}
</style>

<img src="pizza1.jpg" style="height:200px;width:100px;float:left">

  </body>
</html>
