<!DOCTYPE html>
<html>
<body>
<head>

  <h1>Slow food tastes better</h1>

</head>

<title>Sinatra Warden</title>


<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:blue;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

  <style>
  h1 {
    text-align: center;
}
}
</style>

<div class="w3-content w3-section" style="max-width:100%">
  <img class="mySlides" src="images/1.jpg">
  <img class="mySlides" src="images/2.jpg">
  <!-- <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2016/08/18/18/35/tomatoes-1603603_960_720.jpg style="width:200%">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2014/02/17/15/25/bun-268237_960_720.jpg style="width:200%">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2015/02/28/17/28/tomato-mozzarella-653838_960_720.jpg style="width:200%"> -->
</div>


<script>
var myIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}
</script>
</body>
</html>
