<!DOCTYPE html>
<html>
<body bgcolor="#E6E6FA">
<head>

  <h1>Slow food tastes better</h1>

  <script language="JavaScript">
  var i = 0; var path = new Array();

  // LIST OF IMAGES
  path[0] = https://pixabay.com/static/uploads/photo/2015/05/31/13/59/salad-791891_960_720.jpg;
  path[1] = https://pixabay.com/static/uploads/photo/2016/08/18/18/34/tomatoes-1603601_960_720.jpg;
  path[2] = https://pixabay.com/static/uploads/photo/2015/06/28/15/14/pancake-824610_960_720.jpg;
  path[3] = https://pixabay.com/static/uploads/photo/2013/10/16/22/34/bread-196511_960_720.jpg;
  path[3] = https://pixabay.com/static/uploads/photo/2015/04/08/13/14/food-712667_960_720.jpg;

  function swapImage()
  {
  document.slide.src = path[i];
  if(i < path.length - 1) i++;
  else i = 0;
  setTimeout("swapImage()",1000);
  }
  window.onload=swapImage;
  </script>

</head>
<body>

<title>Sinatra Warden</title>


<style>
h1 {
    display: block;
    font-size: 7em;
    margin-top: 0.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: thin;
    font-family:cursive;
}
</style>


<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:blue;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

  <style>
  h1 {
    text-align: center;
}

}
</style>


<center>
<img height="500" name="slide" src=https://pixabay.com/static/uploads/photo/2015/05/31/13/59/salad-791891_960_720.jpg width="800" />
</center>



  </body>
</html>
