<!DOCTYPE html>
<html>
<body bgcolor="#E6E6FA">
<head>

  <h1>Slow food tastes better</h1>

</head>
<body>

<title>Sinatra Warden</title>

<style>
h1 {
    display: block;
    font-size: 7em;
    margin-top: 0.2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: thin;
    font-family:cursive;
}
</style>

<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:blue;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

  <style>
  h1 {
    text-align: center;
}

}
</style>

<body>


<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2015/05/31/13/59/salad-791891_960_720.jpg style="width:200%">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2016/08/18/18/34/tomatoes-1603601_960_720.jpg style="width:200%">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2015/06/28/15/14/pancake-824610_960_720.jpg style="width:200%">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2013/10/16/22/34/bread-196511_960_720.jpg style="width:200%">
  <img class="mySlides" src=https://pixabay.com/static/uploads/photo/2015/04/08/13/14/food-712667_960_720.jpg style="width:200%">
</div>


<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}
</script>

</html>
