
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <form action="/auth/login" method="post">
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with your account</h4>
        <label>Username:
          <input type="text" name="user[username]" id="Username" placeholder="Username"/>
        </label>
        <label>Password:
          <input type="password" name="user[password]" id="Password" placeholder="Password"/>
        </label>
        <p><input type="submit" class="button expanded">Log In</a></p>
      </div>
    </form>

  </div>
</div>
